.Header
  .Header__inner
    .Header__logo-search
      .Header__logo
        = link_to image_tag("/images/logo.png", alt: "furima", class: "Header__logo-inner"), root_path
      .Search
        = form_with(url: "#", method: :get, class: "Header__search-inner") do |f|
          .Search__box
            =f.text_field :keyword, placeholder: "キーワードから探す", class: "Search__field"
            =f.label :keyword do
              = f.submit "検索",style: "display: none"
              = icon('fas', 'search', class: "Search__icon")
    .Header__nav
      .Header__items
        .Header__category
          %ul.Dropdwn
            %li.Dropdwn__list-top
              カテゴリー
              %ul.Dropdwn__menu
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    レディース
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    メンズ
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    ベビー・キッズ
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    インテリア・住まい・小物
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    本・音楽・ゲーム
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    おもちゃ・ホビー・グッズ
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    コスメ・香水・美容
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    家電・スマホ・カメラ
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    スポーツ・レジャー
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    ハンドメイド
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    チケット
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    自動車・オートバイ
                %li
                  = link_to '/',class: "Dropdwn__list" do
                    その他
          = link_to "/", class: "Dropdwn__list-top" do
            ブランド
        .Header__user-log
          - if user_signed_in?
            %span.Header__list-right
              = current_user.nickname
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "Header__list-right", style: "margin-right: 10px;"
            = link_to "マイページ", user_path(current_user.id), class: "Header__list-right"
          - else
            = link_to "ログイン", new_user_session_path, class: "Header__list-right"
            = link_to "新規登録画面", new_user_registration_path, class: "Header__list-right"