.middle-main
  .middle-main__pickupContainer
    .middle-main__pickupContainer__head
      ピックアップカテゴリー
      .middle-main__pickupContainer__head__productBox
        .middle-main__pickupContainer__head__productBox__productHead
          新規投稿ページ
          .middle-main__pickupContainer__head__productBox__productLists
            - @items.each do |item|
              .middle-main__pickupContainer__head__productBox__productLists__productList
                = link_to item_path(item.id), class: "middle-main__pickupContainer__head__productBox__productLists__productList__path" do
                  .middle-main__pickupContainer__head__productBox__productLists__productList__box
                    -if item.buyer_id.present?
                      %ul.sold__out
                        %li.sold__out__inner
                          SOLD
                        %li
                    = image_tag(item.images.first.image_url, class:"middle-main__pickupContainer__head__productBox__productLists__productList__image")
                  .middle-main__pickupContainer__head__productBox__productLists__productList__body
                    .middle-main__pickupContainer__head__productBox__productLists__productList__body__item-name
                      = item.name
                    .middle-main__pickupContainer__head__productBox__productLists__productList__body__item-price
                      = "#{item.price}円"
                 
  
    .middle-main__pickupContainer__head
      ピックアップブランド
      .middle-main__pickupContainer__head__productBox
        .middle-main__pickupContainer__head__productBox__productHead
          アーカイバ
          .middle-main__pickupContainer__head__productBox__productLists
            - @related_item.each do |item|
              .middle-main__pickupContainer__head__productBox__productLists__productList
                = link_to item_path(item.id), class: "middle-main__pickupContainer__head__productBox__productLists__productList__path" do
                  .middle-main__pickupContainer__head__productBox__productLists__productList__box
                    -if item.buyer_id.present?
                      %ul.sold__out
                        %li.sold__out__inner
                          SOLD
                        %li
                    = image_tag(item.images.first.image_url, class:"middle-main__pickupContainer__head__productBox__productLists__productList__image")
                  .middle-main__pickupContainer__head__productBox__productLists__productList__body
                    .middle-main__pickupContainer__head__productBox__productLists__productList__body__item-name
                      = item.name
                    .middle-main__pickupContainer__head__productBox__productLists__productList__body__item-price
                      = "#{item.price}円"

  = render partial: './modules/footer'
